In [60]:
pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)

In [61]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [62]:
features = pd.read_excel(r'features.xlsx',sheet_name = 'train_accounts')

In [63]:
features

,account,flag,Amount_of_sent,Amount_of_received,Total_ETH_sent,Total_ETH_received,Max_ETH_sent,Min_ETH_sent,Avg_ETH_sent,Max_ETH_received,...,Gas_to_ac,Gas_fee_paid,Avg_day_sent,Avg_day_received,Avg_time_sent,Avg_time_received,Unique_sent,Unique_received,Unique_sent_token,Unique_received_token
0,a17249,0,0,1,0.0,3.628600e+16,0.0,0.0,0.0,3.628600e+16,...,150000,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,1,0,0
1,a03683,1,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0
2,a22146,0,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0
3,a26056,1,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0
4,a13971,0,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25193,a24443,0,5,11,0.0,7.302334e+16,0.0,0.0,0.0,4.200000e+16,...,1100000,1.360000e+17,44066.440025,20030.200012,3.598088,1.63523,1,1,1,0
25194,a12337,0,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0
25195,a08122,0,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0
25196,a27826,1,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0
25197,a09863,1,0,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,...,0,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0,0,0,0

In [64]:
for title in features:
  print(title)

account
flag
Amount_of_sent
Amount_of_received
Total_ETH_sent
Total_ETH_received
Max_ETH_sent
Min_ETH_sent
Avg_ETH_sent
Max_ETH_received
Min_ETH_received
Avg_ETH_received
Total_tokentransfer_sent
Total_tokentransfer_received
Gas_from_ac
Gas_to_ac
Gas_fee_paid
Avg_day_sent
Avg_day_received
Avg_time_sent
Avg_time_received
Unique_sent
Unique_received
Unique_sent_token
Unique_received_token

In [65]:
predictors = [
'Amount_of_sent',
'Amount_of_received',
'Total_ETH_sent',
'Total_ETH_received',
'Max_ETH_sent',
'Min_ETH_sent',
'Avg_ETH_sent',
'Max_ETH_received',
'Min_ETH_received',
'Avg_ETH_received',
'Total_tokentransfer_sent',
'Total_tokentransfer_received',
'Gas_from_ac',
'Gas_to_ac',
'Gas_fee_paid',
'Avg_day_sent',
'Avg_day_received',
'Avg_time_sent',
'Avg_time_received',
'Unique_sent',
'Unique_received',
'Unique_sent_token',
'Unique_received_token']
X = features[predictors]
y = features['flag']

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state=33)

In [68]:
from xgboost import XGBClassifier
import xgboost as xgb

In [69]:
xgbc = XGBClassifier()

In [72]:
xgbc.fit(X_train.values, y_train.values)

XGBClassifier()

In [75]:
X_test = X_test.values
y_test = y_test.values
print(xgbc.score(X_test, y_test))

0.9033333333333333